html, body {
    height: 100%;
    margin: 0; 
    padding:0;
    background-size: cover;
}


.welcome-container {
    display: flex;
  justify-content: center;  
  align-items: center;      
  height: 100vh;            
  background-color: black;  
  position: absolute;       
  width: 100%;              
  top: 0;
  left: 0;
  }

.page-transition{
    position: fixed;
    background-color: crimson;
    top : 0;
    left: 0;
    width: 100%;
    height: 100vh;

}

.Navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  
  }